In [31]:
import pandas as pd
import folium

In [32]:
csv_in = './crime2006_2016-utf8.csv'

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

In [33]:
df = pd.read_csv(csv_in, sep=',', skiprows=0, header=0)
df = df.where(df["年"] == 2016)
print(df.shape)
print(df.info())
display(df.head())
#display(df)

(517, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年       47 non-null     float64
 1   都道府県    47 non-null     object
 2   検挙人数    47 non-null     float64
dtypes: float64(2), object(1)
memory usage: 12.2+ KB
None

        年 都道府県    検挙人数
0  2016.0  北海道  8460.0
1  2016.0  青森県  1621.0
2  2016.0  岩手県  1282.0
3  2016.0  宮城県  3209.0
4  2016.0  秋田県  1364.0

In [34]:
df_pos = pd.read_csv("./h3010pref_pos_utf8.csv", comment="#", sep=",")
print(df_pos.shape)
print(df_pos.info())
display(df_pos.head())

(1963, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1963 entries, 0 to 1962
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    1963 non-null   object
 1   lat     1963 non-null   float64
 2   lon     1963 non-null   float64
dtypes: float64(2), object(1)
memory usage: 46.1+ KB
None

     name        lat         lon
0     北海道  43.064278  141.346785
1     札幌市  43.061945  141.354395
2  札幌市中央区  43.055390  141.340980
3   札幌市北区  43.090691  141.340922
4   札幌市東区  43.076111  141.363616

In [35]:
df_merged = pd.merge(df, df_pos, left_on='都道府県', right_on='name', how='inner')
print(df_merged.info())
print(df_merged.shape)
display(df_merged.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47 entries, 0 to 46
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年       47 non-null     float64
 1   都道府県    47 non-null     object
 2   検挙人数    47 non-null     float64
 3   name    47 non-null     object
 4   lat     47 non-null     float64
 5   lon     47 non-null     float64
dtypes: float64(4), object(2)
memory usage: 2.6+ KB
None
(47, 6)

        年 都道府県    検挙人数 name        lat         lon
0  2016.0  北海道  8460.0  北海道  43.064278  141.346785
1  2016.0  青森県  1621.0  青森県  40.824338  140.740087
2  2016.0  岩手県  1282.0  岩手県  39.703647  141.152592
3  2016.0  宮城県  3209.0  宮城県  38.268803  140.871846
4  2016.0  秋田県  1364.0  秋田県  39.718058  140.103250

In [41]:
df_heat = df_merged[["lat", "lon", "検挙人数", ]]
print(df_heat.shape)
display(df_heat.head())

(47, 3)

         lat         lon    検挙人数
0  43.064278  141.346785  8460.0
1  40.824338  140.740087  1621.0
2  39.703647  141.152592  1282.0
3  38.268803  140.871846  3209.0
4  39.718058  140.103250  1364.0

In [42]:
from folium.plugins import HeatMap

m = folium.Map(location=[35, 140], zoom_start=4)
m.add_child(HeatMap(df_heat, radius=12))
display(m)