In [4]:
import openai
import re
import os
from openai import OpenAI
from openai.types.chat import ChatCompletionMessageParam
from mylocalenv import OPENAI_API_KEY

oai = OpenAI(
    api_key = OPENAI_API_KEY,
    base_url = "https://api.openai.iniad.org/api/v1"
)

In [1]:
with open('./toyo_students.csv', 'r', encoding='utf-8') as file:
    file_content = file.read()

In [ ]:
#Cell_3.
from typing import List
messages: List[ChatCompletionMessageParam] =[
       {"role": "system", "content": "あなたはデータサイエンティストです。"},
       {"role": "user", "content": "いまアップロードしたデータ'toyo-sutudent.csv'について解説してください。"},
       {"role": "user", "content": file_content}
]

resp = oai.chat.completions.create(
    model='gpt-4o-mini',
    messages=messages,
)

print(resp.choices[0].message.content)

提供されたデータは、特定のキャンパスにおける男女別の人口を示したCSV形式のデータです。このデータには以下の3つの列があります：

1. **Campus**: 各キャンパスの名前を示します。
2. **Male**: 各キャンパスにおける男性の人数を示します。
3. **Female**: 各キャンパスにおける女性の人数を示します。

具体的な内容について解説します：

- **Hakusan**: このキャンパスには、男性が11,204人、女性が9,199人います。
- **Kawagoe**: このキャンパスには、男性が3,845人、女性が858人います。
- **Itakura**: このキャンパスには、男性が996人、女性が865人います。
- **Akabanedai**: このキャンパスには、男性が2,183人、女性が1,697人います。

### データの分析ポイント

1. **男女比**: 各キャンパスの男女比を計算することで、男女の分布の偏りや均衡を評価できる。
2. **キャンパス間の比較**: 各キャンパスの人口を比較して、どのキャンパスが最も多くの学生を抱えているかを明らかにできる。
3. **総人口**: 各キャンパスの総人口（男性＋女性）を計算することで、各キャンパスの全体的な規模を把握することができる。

このようなデータは、教育機関のリソース配分や、学生向けのサービスの展開において重要な役割を果たすことがあります。

In [6]:
#Cell_4.
messages.append({"role": "assistant", "content": resp.choices[0].message.content})
messages.append({"role": "user", "content": "東洋大学の男性学生数、女性学生数の合計（全キャンパスの合計）を求めて、どちらが多いかを報告してください。"})

resp = oai.chat.completions.create(
    model='gpt-4o-mini',
    messages=messages,
)

print(resp.choices[0].message.content)

提供されたデータには、東洋大学の全キャンパスに関する情報が含まれていると仮定して計算してみます。以下に与えられたキャンパスの男性学生数と女性学生数を合計します。

1. **Hakusan**:
   - 男性: 11,204
   - 女性: 9,199

2. **Kawagoe**:
   - 男性: 3,845
   - 女性: 858

3. **Itakura**:
   - 男性: 996
   - 女性: 865

4. **Akabanedai**:
   - 男性: 2,183
   - 女性: 1,697

### 合計の計算

- **男性学生数合計**:
  \[
  11,204 + 3,845 + 996 + 2,183 = 18,228
  \]

- **女性学生数合計**:
  \[
  9,199 + 858 + 865 + 1,697 = 12,619
  \]

### 結果

- 男性学生数: 18,228人
- 女性学生数: 12,619人

### 多い方の報告
男性学生数が女性学生数よりも多いです。具体的には、男性が18,228人、女性が12,619人であり、男性が女性よりも5,609人多いという結果になります。

In [7]:
import pandas as pd

df = pd.read_csv("./toyo_students.csv")

df.head()

       Campus   Male  Female
0     Hakusan  11204    9199
1     Kawagoe   3845     858
2     Itakura    996     865
3  Akabanedai   2183    1697

In [8]:
df["Male"].sum(), df["Female"].sum()

(18228, 12619)